target/
*.class
*.jar
*.war

.idea/
*.iml
.vscode/
.settings/
.classpath
.project
.DS_Store


postgres_data/
redis_data/

logs/
*.log

.env
*.env

infra/keys/
infra/terraform/.terraform/
infra/terraform/*.tfstate
infra/terraform/*.tfstate.backup
.env