version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 88675819
      POSTGRES_DB: shortner_dev
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - shortener-network

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    command: redis-server --requirepass 12345
    networks:
      - shortener-network

  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    networks:
      - shortener-network

  app:
    build: .
    container_name: shortener-app
    ports:
      - "8080:8080"
    environment:

      DB_URL_PROD: jdbc:postgresql://postgres:5432/shortner_dev
      DB_USER: postgres
      DB_PASSWORD: 88675819

      REDIS_HOST: redis
      REDIS_PORT: 6379
      REDIS_PASSWORD: 12345

      SPRING_RABBITMQ_HOST: rabbitmq
      SPRING_RABBITMQ_PORT: 5672
      SPRING_RABBITMQ_USERNAME: guest
      SPRING_RABBITMQ_PASSWORD: guest

      SPRING_PROFILES_ACTIVE: prod

    depends_on:
      - postgres
      - redis
      - rabbitmq
    networks:
      - shortener-network

volumes:
  postgres_data:

networks:
  shortener-network:
    driver: bridge